<body class="panda-game">
    <h1 id="panda-heading">Panda Memory</h1>
    <div id="panda-container">
        <div class="card unmatched"></div>
        <div class="card unmatched"></div>
        <div class="card unmatched"></div>
        <div class="card unmatched"></div>
        <div class="card unmatched"></div>
        <h1 id="panda-victory" style="display: none;">You Did It!</h1>
        <div class="card unmatched"></div>
        <div class="card unmatched"></div>
        <div class="card unmatched"></div>
        <div class="card unmatched"></div>
        <div class="card unmatched"></div>
        <div class="card unmatched"></div>
        <div class="card unmatched"></div>
    </div>
</body>

<a href="/home"><img id="read-home-panda" src="/images/home.png"></a>

