<body class="panda-game">
    <div id="panda-container">
        <h1 id="panda-heading">Memory Panda</h1>
        <div class="card unmatched"></div>
        <div class="card unmatched"></div>
        <div class="card unmatched"></div>
        <div class="card unmatched"></div>
        <div class="card unmatched"></div>
        <h1 id="panda-victory" style="display: none;">You Did It!</h1>
        <div class="card unmatched"></div>
        <div class="card unmatched"></div>
        <div class="card unmatched"></div>
        <div class="card unmatched"></div>
        <div class="card unmatched"></div>
        <div class="card unmatched"></div>
        <div class="card unmatched"></div>
    </div>
</body>

    <a href="/home"><img id="read-home-panda" src="/images/home.png"></a>

