<body class="draw-game"> 

<h1 class="game-name">Create Drawings!</h1>

    <canvas id="canvas-draw" height="200" width="800"></canvas>

      <div class="drawing-options">
          <div id="drawing-mode">
            <button id="drawing-mode-btn" class="btn btn-info">Draw!</button>
          </div>

          <div id="drawing-mode-options">
            <label for="drawing-mode-selector">Mode:</label>
            <select id="drawing-mode-selector">
              <option>Pencil</option>
            </select><br>
            <label for="drawing-line-width">Size:</label>
            <input type="range" value="30" min="0" max="150" id="drawing-line-width"><br>
            <label for="drawing-color">Color:</label>
            <input type="color" value="#6CD8AB" id="drawing-color"><br>
          </div>
      </div>

</body>