<body class="draw-game"> 

  <h1 class="game-name">Create Drawings!</h1>

    <canvas id="canvas-draw" height="200" width="800"></canvas>

      <div class="drawing-options">
          <div id="drawing-mode">
            <img src="images/drawingLogo.png" id="drawing-mode-btn" class="btn btn-info"><br> 
            click to start drawing!
          </div>

          <div id="drawing-mode-options">
            <label for="drawing-mode-selector">Mode:</label>
            <select id="drawing-mode-selector">
              <option>Pencil</option>
            </select><br>
            <label for="drawing-line-width">Size:</label>
            <input type="range" value="12" min="0" max="100" id="drawing-line-width"><br>
            <label for="drawing-color">Color:</label>
            <input type="color" value="#6CD8AB" id="drawing-color"><br>
          </div>
        <!-- <div id="clear-drawing-mode">
        <img src="images/clear.png" id="clear-drawing-btn"><br>
        click to clear the drawing
        </div> -->
      </div>

      <div id="drawing-bg-images">
        pick a backdrop to draw on!<br><br>
        <img src="images/landscape.png" class="drawing-bg" id="land-bg">
        <img src="images/underwater.png" class="drawing-bg" id="water-bg">
        <img src="images/beach.png" class="drawing-bg" id="beach-bg">
        <img src="images/space.png" class="drawing-bg" id="space-bg">
        <img src="images/jungle.png" class="drawing-bg" id="jungle-bg">
        <img src="images/desert.svg" class="drawing-bg" id="desert-bg">
        <img src="images/mountain.png" class="drawing-bg" id="mountain-bg">
      </div>


</body>