<body class="draw-game">

    <div class="drawing-options">
        <div id="drawing-mode">
          <a href="/home"><img id="draw-home" src="images/home.png"></a>
          <img src="images/start-drawing.png" id="drawing-mode-btn" class="btn btn-info">
          <img src="images/undo-btn.png" id="undo-btn">
          <img src="images/redo-btn.png" id="redo-btn">
          <img src="images/clear-drawing-btn.png" id="clear-drawing-btn">
        </div>

        <div id="drawing-mode-options">
          <select id="drawing-mode-selector" style="display: none">
            <option>Pencil</option>
          </select><br>
          <label for="drawing-line-width">Size:</label>
          <input type="range" value="8" min="0" max="60" id="drawing-line-width"><br>
          <label for="drawing-color">Color:</label>
          <input type="color" value="#6CD8AB" id="drawing-color"><br>
        </div>

        <div id="drawing-bg-images">
          <span class="drawing-bg-images-header">pick a backdrop to draw on!</span><br>
          <img src="images/landscape.png" class="drawing-bg" id="land-bg">
          <img src="images/underwater.png" class="drawing-bg" id="water-bg">
          <img src="images/beach.png" class="drawing-bg" id="beach-bg">
          <img src="images/space.png" class="drawing-bg" id="space-bg">
          <img src="images/jungle.png" class="drawing-bg" id="jungle-bg">
          <img src="images/mountain.png" class="drawing-bg" id="mountain-bg">
          <img src="images/desert.svg" class="drawing-bg" id="desert-bg">
        </div>
    </div>

    <canvas id="canvas-draw" height="200" width="800"></canvas>

</body>
