<body class="splash">
  <div class="banner">
    <img id="banner" src="images/klinklogo.png">
  </div>

  <div id="klink-animate">
    <p id="fade">KLINK<span>|</span></p>
  </div>

  <div id="game-logo">
    <a href="/letters"><img src="/images/readingLogo.png" class="reading-logo game-logo"></a>
    <a href="/draw"><img src="/images/drawingLogo.png" class="drawing-logo game-logo"></a>
    <br>
    <a href="/write"><img src="/images/writingLogo.png" class="writing-logo game-logo"></a> <!-- check correct path name -->
    <a href="/memory"><img src="/images/memorylogo.png" class="memory-logo game-logo"></a> <!-- check correct path name -->
  </div>

  <meta name="viewport" content="width=device-width, initial-scale=1">
</body>
