<<<<<<< HEAD
<h1 class="title">KLINK</h1>

<div class= "game-cards">
  <a href="/letters"><img src="/images/readingLogo.png" class="reading-logo game-logo"></a>
  <a href="/draw"><img src="/images/drawingLogo.png" class="drawing-logo game-logo"></a>
  <br>
  <a href="/write"><img src="/images/writingLogo.png" class="writing-logo game-logo"></a> <!-- check correct path name -->
  <a href="/math"><img src="/images/mathLogo.png" class="math-logo game-logo"></a> <!-- check correct path name -->
  <a href="/memory"><img src="/images/memoryLogo.png" class="memory-logo game-logo"></a>
=======
<div class="banner">
  <img id="banner" src="images/klinklogo.png">
>>>>>>> fd3c9d9461bcc7fcf95c7dd58a0af02c1bbd8637
</div>

  <div id="klink-animate">
    <p id="fade">KLINK<span>|</span></p>
  </div>

  <div id="game-logo">
    <a href="/letters"><img src="/images/readingLogo.png" class="reading-logo game-logo"></a>
    <a href="/draw"><img src="/images/drawingLogo.png" class="drawing-logo game-logo"></a>
    <br>
    <a href="/write"><img src="/images/writingLogo.png" class="writing-logo game-logo"></a> <!-- check correct path name -->
    <a href="/memory"><img src="/images/memorylogo.png" class="memory-logo game-logo"></a> <!-- check correct path name -->
  </div>
