<body class='home-page'>
  <div class='home-container'>
    <img id="home-banner" src="images/klinklogo.png">

    <div id="home-logos">
      <a href="/letters"><img src="/images/readingLogo.png" class="hgame-logo"></a>
      <a href="/draw"><img src="/images/drawingLogo.png" class="hgame-logo"></a>
      <br>
      <a href="/write"><img src="/images/writingLogo.png" class="hgame-logo"></a> <!-- check correct path name -->
      <a href="/memory"><img src="/images/memorylogo.png" class="hgame-logo"></a> <!-- check correct path name -->
    </div>
</div>

<meta name="viewport" content="width=device-width, initial-scale=1">

</body>
