<div class="container">

    <h1>Letters Game Page!</h1>
    
    <div id="coordinates"></div>
    <canvas id="canvas" height="400" width="860"></canvas> <!-- set responsive height & width -->

    <div class="palette">
      <img src="images/A.svg" id="a-img" class="letter">
      <img src="images/B.svg" id="b-img" class="letter">
      <img src="images/C.svg" id="c-img" class="letter">
      <img src="images/D.svg" id="d-img" class="letter">
      <img src="images/E.svg" id="e-img" class="letter">
      <img src="images/F.svg" id="f-img" class="letter">
      <img src="images/G.svg" id="g-img" class="letter">
      <img src="images/H.svg" id="h-img" class="letter">
      <img src="images/I.svg" id="i-img" class="letter">
      <img src="images/J.svg" id="j-img" class="letter">
      <img src="images/K.svg" id="k-img" class="letter">
      <img src="images/L.svg" id="l-img" class="letter">
      <img src="images/M.svg" id="m-img" class="letter">
      <img src="images/N.svg" id="n-img" class="letter">
      <img src="images/O.svg" id="o-img" class="letter">
      <img src="images/P.svg" id="p-img" class="letter">
      <img src="images/Q.svg" id="q-img" class="letter">
      <img src="images/R.svg" id="r-img" class="letter">
      <img src="images/S.svg" id="s-img" class="letter">
      <img src="images/T.svg" id="t-img" class="letter">
      <img src="images/U.svg" id="u-img" class="letter">
      <img src="images/V.svg" id="v-img" class="letter">
      <img src="images/W.svg" id="w-img" class="letter">
      <img src="images/X.svg" id="x-img" class="letter">
      <img src="images/Y.svg" id="y-img" class="letter">
      <img src="images/Z.svg" id="z-img" class="letter">
    </div>

</div>
