<body class="readgame">
<div class="container">
		<h1>Letters Game Page!</h1>

		<canvas id="canvas-palette" height="130" width="1000"></canvas>

		<canvas id="canvas-play" height="550" width="1000"></canvas>

		<div id="image-result"></div>

		<div id="letter-images" style="display: none">

			<img src="images/A.png" id="a-img" class="letter">
			<img src="images/B.png" id="b-img" class="letter">
			<img src="images/C.png" id="c-img" class="letter">
			<img src="images/D.png" id="d-img" class="letter">
			<img src="images/E.png" id="e-img" class="letter">
			<img src="images/F.png" id="f-img" class="letter">
			<img src="images/G.png" id="g-img" class="letter">
			<img src="images/H.png" id="h-img" class="letter">
			<img src="images/I.png" id="i-img" class="letter">
			<img src="images/J.png" id="j-img" class="letter">
			<img src="images/K.png" id="k-img" class="letter">
			<img src="images/L.png" id="l-img" class="letter">
			<img src="images/M.png" id="m-img" class="letter">
			<img src="images/N.png" id="n-img" class="letter">
			<img src="images/O.png" id="o-img" class="letter">
			<img src="images/P.png" id="p-img" class="letter">
			<img src="images/Q.png" id="q-img" class="letter">
			<img src="images/R.png" id="r-img" class="letter">
			<img src="images/S.png" id="s-img" class="letter">
			<img src="images/T.png" id="t-img" class="letter">
			<img src="images/U.png" id="u-img" class="letter">
			<img src="images/V.png" id="v-img" class="letter">
			<img src="images/W.png" id="w-img" class="letter">
			<img src="images/X.png" id="x-img" class="letter">
			<img src="images/Y.png" id="y-img" class="letter">
			<img src="images/Z.png" id="z-img" class="letter">

		</div>

		<div id="button-images" style="display: none">

			<img src="images/search.png" id="search-img" >
			<img src="images/clear.png" id="clear-img" >

			<div id="trash-can" style="display: none">
 				<img src="images/trashcan.png" id="trashcan-img">
 			</div>

		</div>
</div>
</body>
