<h1>Letters Game Page!</h1>

<div id="coordinates"></div>
<canvas id="canvas" height="400" width="800"></canvas> <!-- set responsive height & width -->

<img src="images/A.png id="a-img">
<img src="images/B.png id="b-img">
<img src="images/C.png id="c-img">
<img src="images/D.png id="d-img">
<img src="images/E.png id="e-img">
<img src="images/F.png id="f-img">
<img src="images/G.png id="g-img">
<img src="images/H.png id="h-img">
<img src="images/I.png id="i-img">
<img src="images/J.png id="j-img">
<img src="images/K.png id="k-img">
<img src="images/L.png id="l-img">
<img src="images/M.png id="m-img"><br>
<img src="images/N.png id="n-img">
<img src="images/O.png id="o-img">
<img src="images/P.png id="p-img">
<img src="images/Q.png id="q-img">
<img src="images/R.png id="r-img">
<img src="images/S.png id="s-img">
<img src="images/T.png id="t-img">
<img src="images/U.png id="u-img">
<img src="images/V.png id="v-img">
<img src="images/W.png id="w-img">
<img src="images/X.png id="x-img">
<img src="images/Y.png id="y-img">
<img src="images/Z.png id="z-img">
