<div class="container">

    <h1>Letters Game Page!</h1>
    
    <div id="coordinates"></div>
    <div class="canvas">
      <canvas id="canvas"></canvas> <!-- set responsive height & width -->
    </div>
    
    <div class="palette">
      <img src="images/A.png" id="a-img" class="letter">
      <img src="images/B.png" id="b-img" class="letter">
      <img src="images/C.png" id="c-img" class="letter">
      <img src="images/D.png" id="d-img" class="letter">
      <img src="images/E.png" id="e-img" class="letter">
      <img src="images/F.png" id="f-img" class="letter">
      <img src="images/G.png" id="g-img" class="letter">
      <img src="images/H.png" id="h-img" class="letter">
      <img src="images/I.png" id="i-img" class="letter">
      <img src="images/J.png" id="j-img" class="letter">
      <img src="images/K.png" id="k-img" class="letter">
      <img src="images/L.png" id="l-img" class="letter">
      <img src="images/M.png" id="m-img" class="letter">
      <br>
      <img src="images/N.png" id="n-img" class="letter">
      <img src="images/O.png" id="o-img" class="letter">
      <img src="images/P.png" id="p-img" class="letter">
      <img src="images/Q.png" id="q-img" class="letter">
      <img src="images/R.png" id="r-img" class="letter">
      <img src="images/S.png" id="s-img" class="letter">
      <img src="images/T.png" id="t-img" class="letter">
      <img src="images/U.png" id="u-img" class="letter">
      <img src="images/V.png" id="v-img" class="letter">
      <img src="images/W.png" id="w-img" class="letter">
      <img src="images/X.png" id="x-img" class="letter">
      <img src="images/Y.png" id="y-img" class="letter">
      <img src="images/Z.png" id="z-img" class="letter">
    </div>

</div>
