<h1>Letters Game Page!</h1>

<div id="coordinates"></div>
<canvas id="canvas" height="400" width="800"> <!-- set responsive height & width -->
</canvas>

<div class='palette'>
<img src="images/A.svg" id="A" class="letter">
<img src="images/B.png" id="B" class="letter">
<img src="images/C.png" id="C" class="letter">
<img src="images/D.png" id="D" class="letter">
<img src="images/E.png" id="E" class="letter">
<img src="images/F.png" id="F" class="letter">
<img src="images/G.png" id="G" class="letter">
<img src="images/H.png" id="H" class="letter">
<img src="images/I.png" id="I" class="letter">
<img src="images/J.png" id="J" class="letter">
<img src="images/K.png" id="K" class="letter">
<img src="images/L.png" id="L" class="letter">
<img src="images/M.png" id="M" class="letter"><br>
<img src="images/N.png" id="N" class="letter">
<img src="images/O.png" id="O" class="letter">
<img src="images/P.png" id="P" class="letter">
<img src="images/Q.png" id="Q" class="letter">
<img src="images/R.png" id="R" class="letter">
<img src="images/S.png" id="S" class="letter">
<img src="images/T.png" id="T" class="letter">
<img src="images/U.png" id="U" class="letter">
<img src="images/V.png" id="V" class="letter">
<img src="images/W.png" id="W" class="letter">
<img src="images/X.png" id="X" class="letter">
<img src="images/Y.png" id="Y" class="letter">
<img src="images/Z.png" id="Z" class="letter">
</div>