/* WELCOME */

.home-container{
  margin: auto;
  padding-top: 5%;
  width: auto;
  min-width: 375px;
  min-height: 667px;
  text-align: center;
}

.hgame-logo{
  width: 15%;
  margin: auto;
  text-align: center;
}

#home-banner{
  margin: auto;
  height: 20vh;
  width: auto;
  text-align: center;
}

#home-logos{
  margin: auto;
  text-align: center;
}
