// Place all the styles related to the memory controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#panda-container {
  width: 1080px;
  position: relative;
  display: block;
  margin: auto;
  padding-top: 220px;
  padding-left: 50px;
}

.card {
  float: left;
  margin: 10px;
  height: 190px;
  width: 200px;
  background: url('memory-game/panda-card.png');
  background-size: 100%;
  text-align: center;
  border-radius: 5px;
  border: 10px solid black;
  box-shadow: 10px 10px 10px #ccc;
}

.panda-game {
  background: url('memory-game/background-img') no-repeat center center fixed;
  -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

#panda-heading {
  font-family: 'Baloo Bhaina', cursive;
  font-size: 8em;
  position: absolute;
  margin-top: -200px;
  margin-left: 50px;
}

#panda-victory {
  font-family: 'Baloo Bhaina', cursive;
  font-size: 10em;
  position: relative;
  display: block;
  margin: auto;
  margin-top: 200px;
  margin-left: 140px;
}
