/* WELCOME */

.title {
  text-align: center;
}

.game-logo {
  width: 15%;
  margin: auto;
  text-align: center;
}

body{
  background: #ed1c24;
  overflow: hidden;
  min-width: 50%;
}

// klink animation
#klink-animate{
  margin: auto;
  max-width: 100%;
  padding-left: 26%;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: -7%;
  padding-bottom: 10%;
}

.banner{
  margin: auto;
  max-width: 100%;
  height: auto;
  padding-left: 26%;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 10%;
}

p{
  color: white;
  font-family: "arial rounded mt bold";
  font-size: 15vw;
  opacity: 0.25;
  transition:opacity 100ms;
  overflow: hidden;
  width: 30em;
  animation: type 9s steps(70, end);
}

span{
  animation: blink 1s infinite;
}

@keyframes type{
  from { width: 0; }
}

@keyframes blink{
  to{opacity: 0;}
}

#banner{
  margin: auto;
  display: none;
  height: 40vh;
  margin-top: 30vh;
  transform: scale(2);
  transition: all 1.5s;
  padding-bottom: 10%;
  text-align: center;
}

#banner.small{
  transform: scale(.5);
}

#game-logo{
  margin: auto;
  margin-top: -25%;
  text-align: center;
}
