.logo {
  width: 8%;
}

.container {
  margin: auto;
  width: 100vw;
  min-width: 375px;
  min-height: 667px;
  text-align: center;
}

canvas {
  border: 1px solid #000000;
  padding-bottom: 10px;
  display: inline;
}



/* DRAWING */

.drawing-options {
  text-align: center;
  margin-top: 3%;
}

#drawing-mode-options {
  display: inline-block;
}

#drawing-mode {
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
  margin-right: 2%;
}


