.container {
  width: 100vw;
  min-width: 375px;
  min-height: 667px;
}

canvas {
  border: 1px black solid;
}

.palette {
  margin: auto;
  margin-top: 2%;
  text-align: center;
}

.letter {
  margin: auto;
  width: 7.2vw;
}