<!-- <div class="header">
  <img src="/images/sampleLogo.png" class="logo"> -->

<<<<<<< HEAD
  <%= link_to 'Home', root_path %>
</div>
=======
  <%# link_to 'Home', root_path %>
<!-- </div> -->
>>>>>>> 005868e09990dd2bb6cfac3d9703e0c9547e5d61
